In [3]:
import numpy as np

# Question 1
What's the version of NumPy that you installed?

In [4]:
np.__version__

'1.25.2'

# Question 2
How many records are in the dataset?

In [5]:
import pandas as pd
df = pd.read_csv("../data/2022w1.csv")

In [6]:
df.shape[0]

11914

# Question 3
Who are the most frequent car manufacturers (top-3) according to the dataset?

In [8]:
df_make_group = df.groupby(['Make'])['Make'].count().sort_values(ascending=False)
df_make_group.head(3)

Make
Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

# Question 4
What's the number of unique Audi car models in the dataset?

In [9]:
df["Model"][df['Make'] == 'Audi'].nunique()

34

# Question 5
How many columns in the dataset have missing values?

In [11]:
# df.isnull().sum()
(df.isnull().sum() != 0).sum()

5

# Question 6
1: Find the median value of "Engine Cylinders" column in the dataset.<br>
2: Next, calculate the most frequent value of the same "Engine Cylinders".<br>
3: Use the fillna method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.<br>
4: Now, calculate the median value of "Engine Cylinders" once again.<br>
Has it changed?

In [12]:
df['Engine Cylinders'].median()

6.0

In [13]:
df.groupby(['Engine Cylinders'])['Engine Cylinders'].count().sort_values(ascending=False)

Engine Cylinders
4.0     4752
6.0     4489
8.0     2031
12.0     230
5.0      225
10.0      68
0.0       56
3.0       30
16.0       3
Name: Engine Cylinders, dtype: int64

In [21]:
mode_engine_cyl = df['Engine Cylinders'].mode()[0]
mode_engine_cyl

4.0

In [22]:
df['Engine Cylinders'].fillna(mode_engine_cyl).median()

6.0

# Question 7
1: Select all the "Lotus" cars from the dataset.<br>
2: Select only columns "Engine HP", "Engine Cylinders".<br>
3: Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 9 rows).<br>
4: Get the underlying NumPy array. Let's call it X.<br>
5: Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.<br>
6: Compute the inverse of XTX.<br>
7: Create an array y with values [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800].<br>
8: Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.<br>
<br>
What's the value of the first element of w?

In [35]:
# Select all the "Lotus" cars from the dataset.
lotus_df = df[df["Make"] == "Lotus"]
# Select only columns "Engine HP", "Engine Cylinders".
# Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 9 rows).
# Get the underlying NumPy array. Let's call it X.
X = np.array(lotus_df[["Engine HP", "Engine Cylinders"]].drop_duplicates())

array([[189.,   4.],
       [218.,   4.],
       [217.,   4.],
       [350.,   8.],
       [400.,   6.],
       [276.,   6.],
       [345.,   6.],
       [257.,   4.],
       [240.,   4.]])

In [37]:
# Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
XTX = X.T @ X
XTX

array([[7.31684e+05, 1.34100e+04],
       [1.34100e+04, 2.52000e+02]])

In [38]:
# Compute the inverse of XTX.
XTX_inv = np.linalg.inv(XTX)
XTX_inv

array([[ 5.53084235e-05, -2.94319825e-03],
       [-2.94319825e-03,  1.60588447e-01]])

In [39]:
# Create an array y with values [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800].
y = [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800]
y

[1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800]

In [43]:
# Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
w = (XTX_inv @ X.T) @ y
# What's the value of the first element of w?
w[0]

4.594944810094551